header{
  text-align: center;
  background-color: #0077c0;
  color: white;
  font-size: 30px;
}

.content{
  margin: 0 auto;
  width: 1209px;
  height: 100vh;
}

/* TABLET */
@media (min-width: 720px) and (max-width: 1209) {
  .content{
    width: 100%;
    height: 100%;
  }
}

/* MOBILE */
@media (max-width: 720px) {
  .content{
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
